# virtual env
.venv/
venv/
env/

# secrets
.env

# python cache
__pycache__/
*.pyc
*.pyo

# logs
logs/
*.log

# data and cache
data/
data.zip

# local models
local_models/

# generated zip files
src.zip

# model / index files
*.pkl
*.bin
*.safetensors
*.h5
*.ot
*.onnx

# system / editor
.DS_Store
Thumbs.db
.vscode/

# others
results